<p>Please excuse the lack of styling.</p>

<h4>Note: <em>some requirements have been reinterpreted as below</em></h4>
<ul>
  <li>3.c. is accessed from "Create Label" above. You can create the label "prove it" there.</li>
  <li>3.d. is not in the menu, but performed from the cases list.</li>
</ul>
