---
http_interactions:
- request:
    method: get
    uri: https://nonesuch.desk.com/api/v2/filters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="yvrqW68oBI403I5surFL", oauth_nonce="4b29415f7192f53ab4781b51445cefe6",
        oauth_signature="8eb%2Bk5JhnqM7klYfxzP%2BNiPS9Nw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393793629", oauth_token="KDNVoUTNOUFvbLNfmxX6", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"caaefedb46f29fb11f396d072276c8ca\""
      Status:
      - 200 OK
      X-Appversion:
      - '15.99'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '59'
      X-Rate-Limit-Reset:
      - '10'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":10,\"_links\":{\"self\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"name\":\"Inbox\",\"sort_field\":\"updated_at\",\"sort_direction\":\"desc\",\"position\":1,\"active\":true,\"_links\":{\"self\":{\"href\":\"/api/v2/filters/1898207\",\"class\":\"filter\"},\"group\":null,\"user\":null,\"cases\":{\"href\":\"/api/v2/filters/1898207/cases\",\"class\":\"case\"}}},{\"name\":\"All
        Cases\",\"sort_field\":\"updated_at\",\"sort_direction\":\"desc\",\"position\":2,\"active\":true,\"_links\":{\"self\":{\"href\":\"/api/v2/filters/1898208\",\"class\":\"filter\"},\"group\":null,\"user\":null,\"cases\":{\"href\":\"/api/v2/filters/1898208/cases\",\"class\":\"case\"}}},{\"name\":\"My
        Cases\",\"sort_field\":\"updated_at\",\"sort_direction\":\"desc\",\"position\":3,\"active\":true,\"_link[...]
