---
http_interactions:
- request:
    method: get
    uri: https://nonesuch.desk.com/api/v2/cases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="yvrqW68oBI403I5surFL", oauth_nonce="3c0faec833deb20f664c3a7c6ddb74ad",
        oauth_signature="j6ei0gfDFjvRcdTU9z9iJ5ua0pk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393817059", oauth_token="KDNVoUTNOUFvbLNfmxX6", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"ec936ca21b850d9cfae74d818c386797\""
      Status:
      - 200 OK
      X-Appversion:
      - '15.99'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '59'
      X-Rate-Limit-Reset:
      - '40'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":3,\"_links\":{\"self\":{\"href\":\"/api/v2/cases?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/cases?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/cases?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"id\":1,\"external_id\":null,\"blurb\":\"Thanks
        for trying Desk.com. We hope your trial goes well and you decide to use Desk.com
        to wow your customers. Please let us know if there is anything we can do to
        make your experience better. In the meantime see the tips below for getting
        started...\",\"subject\":\"Welcome to Desk.com\",\"priority\":4,\"locked_until\":null,\"description\":null,\"status\":\"open\",\"type\":\"email\",\"labels\":[\"Example\"],\"language\":\"en\",\"active_at\":\"2014-03-02T19:45:53Z\",\"created_at\":\"2014-03-01T18:34:54Z\",\"updated_at\":\"2014-03-02T19:45:53Z\",\"received_at\":\"2014-03-01T18:34:54Z\",\"first_opened_at\":\"2014-03-02T19:45:53Z\",\"opened_at\":\"2014-03-02T19:45:53Z\",\"first_resolved_at\":null,\"resolved_at\":null,\"custom_fields\":{},\"_links\":{\"self\":{\"href\":\"/api/v2/cases/1\",\"class\":\"case\"},\"message\":{\"href\":\"/api/v2/cases/1/message\",\"class\":\"email\"},\"customer\":{\"href\":\"/api/v2/customers/161133857\",\"class\":\"customer\"},\"assigned_user\":{\"href\":\"/api/v2/users/21797453\",\"class\":\"user\"},\"assigned_group\":{\"href\":\"/api/v2/groups/395364\",\"class\":\"group\"},\"locked_by\":null,\"history\":{\"href\":\"/api/v2/cases/1/history\",\"class\":\"history\"},\"replies\":{\"href\":\"/api/v2/cases/1/replies\",\"class\":\"reply\",\"count\":1},\"draft\":{\"href\":\"/api/v2/cases/1/replies/draft\",\"class\":\"reply\"},\"notes\":{\"href\":\"/api/v2/cases/1/notes\",\"class\":\"note\",\"count\":0},\"attachments\":{\"href\":\"/api/v2/cases/1/attachments\",\"class\":\"attachment\",\"count\":0}}},{\"id\":2,\"external_id\":null,\"blurb\":\"Desk.com
        is a single place to keep track of all your customers online correspondence
        (email, chats), social media conversation (Facebook, Twitter), and offline
        contacts (phone).\\n\\nRECORD PHONE - In the upper right there is a New Case
        button, this is h\",\"subject\":\"Welcome to Desk.com\",\"priority\":9,\"locked_until\":null,\"description[...]
