---
http_interactions:
- request:
    method: get
    uri: https://nonesuch.desk.com/api/v2/filters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="yvrqW68oBI403I5surFL", oauth_nonce="294b55a5c873d2bcd90ceff200f41121",
        oauth_signature="wE682XKpQfYkUGzNDl%2BOc5LUmPw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393821599", oauth_token="KDNVoUTNOUFvbLNfmxX6", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"caaefedb46f29fb11f396d072276c8ca\""
      Status:
      - 200 OK
      X-Appversion:
      - '15.99'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '59'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":10,\"_links\":{\"self\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/filters?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"name\":\"Inbox\",\"sort_field\":\"updated_at\",\"sort_direction\":\"desc\",\"position\":1,\"active\":true,\"_links\":{\"self\":{\"href\":\"/api/v2/filters/1898207\",\"class\":\"filter\"},\"group\":null,\"user\":null,\"cases\":{\"href\":\"/api/v2/filters/1898207/cases\",\"class\":\"case\"}}},{\"name\":\"All
        Cases\",\"sort_field\":\"updated_at\",\"sort_direction\":\"desc\",\"position\":2,\"active\":true,\"_links\":{\"self\":{\"href\":\"/api/v2/filters/1898208\",\"class\":\"filter\"},\"group\":null,\"user\":null,\"cases\":{\"href\":\"/api/v2/filters/1898208/cases\",\"class\":\"case\"}}},{\"name\":\"My
        Cases\",\"sort_field\":\"updated_at\",\"sort_direction\":\"desc\",\"position\":3,\"active\":true,\"_link[...]
- request:
    method: get
    uri: https://nonesuch.desk.com/api/v2/filters/1898207/cases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="yvrqW68oBI403I5surFL", oauth_nonce="d7107937d3e5c9ebe432817a63118f39",
        oauth_signature="bjug5oxU%2BcyqieloTz288bM2QDI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393821600", oauth_token="KDNVoUTNOUFvbLNfmxX6", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"7db66dee5d1585058c6bf89afeed97e1\""
      Status:
      - 200 OK
      X-Appversion:
      - '15.99'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '58'
      X-Rate-Limit-Reset:
      - '59'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":3,\"_links\":{\"self\":{\"href\":\"/api/v2/filters/1898207/cases?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/filters/1898207/cases?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/filters/1898207/cases?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"id\":1,\"external_id\":null,\"blurb\":\"Thanks
        for trying Desk.com. We hope your trial goes well and you decide to use Desk.com
        to wow your customers. Please let us know if there is anything we can do to
        make your experience better. In the meantime see the tips below for getting
        started...\",\"subject\":\"Welcome to Desk.com\",\"priority\":4,\"locked_until\":null,\"description\":null,\"status\":\"open\",\"type\":\"email\",\"labels\":[\"Pizza\"],\"language\":\"en\",\"active_at\":\"2014-03-02T19:45:53Z\",\"created_at\":\"2014-03-01T18:34:54Z\",\"updated_at\":\"2014-03-03T04:36:54Z\",\"received_at\":\"2014-03-01T18:34:54Z\",\"first_opened_at\":\"2014-03-02T19:45:53Z\",\"opened_at\":\"2014-03-02T19:45:53Z\",\"first_resolved_at\":null,\"resolved_at\":null,\"custom_fields\":{},\"_links\":{\"self\":{\"href\":\"/api/v2/cases/1\",\"class\":\"case\"},\"message\":{\"href\":\"/api/v2/cases/1/message\",\"class\":\"email\"},\"customer\":{\"href\":\"/api/v2/customers/161133857\",\"class\":\"customer\"},\"assigned_user\":{\"href\":\"/api/v2/users/21797453\",\"class\":\"user\"},\"assigned_group\":{\"href\":\"/api/v2/groups/395364\",\"class\":\"group\"},\"locked_by\":null,\"history\":{\"href\":\"/api/v2/cases/1/history\",\"class\":\"history\"},\"replies\":{\"href\":\"/api/v2/cases/1/replies\",\"class\":\"reply\",\"count\":1},\"draft\":{\"href\":\"/api/v2/cases/1/replies/draft\",\"class\":\"reply\"},\"notes\":{\"href\":\"/api/v2/cases/1/notes\",\"class\":\"note\",\"count\":0},\"attachments\":{\"href\":\"/api/v2/cases/1/attachments\",\"class\":\"attachment\",\"count\":0}}},{\"id\":3,\"external_id\":null,\"blurb\":\"Hooray!
        You just sent your first case in Desk.com.\\n\\n Here's your new support email
        address: support@nonesuch.desk-mail.com\\n\\n Tip: Try it out. Send an email
        to that address to see what a customer would experience.\\n Then Update &
        Resolve to see what yo\",\"subject\":\"Your test case made it!\",\"priority\":4,\"locked_until\":null,\"description\":null,\"status\":\"new\",\"type\":\"email\",\"labels\":[\"Frodolicious\"],\"language\":\"en\",\"active_at\":null,\"created_at\":\"2014-03-01T18:38:04Z\",\"updated_at\":\"2014-03-03T04:08:08Z\",\"received_at\":\"2014-03-01T18[...]
[...]
- request:
    method: get
    uri: https://nonesuch.desk.com/api/v2/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="yvrqW68oBI403I5surFL", oauth_nonce="804f96aa07481228504fdb19267282e4",
        oauth_signature="6CqS%2BBB%2FZItaw5fixGSQ8PWfFz8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393821603", oauth_token="KDNVoUTNOUFvbLNfmxX6", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"13938201483448668\""
      Status:
      - 200 OK
      X-Appversion:
      - '15.99'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '54'
      X-Rate-Limit-Reset:
      - '56'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":10,\"_links\":{\"self\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"name\":\"Abandoned
        Chats\",\"description\":\"Abandoned Chats\",\"enabled\":true,\"types\":[\"case\",\"macro\"],\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/1685165\",\"class\":\"label\"}}},{\"name\":\"Escalated\",\"description\":\"Escalated\",\"enabled\":true,\"types\":[\"case\",\"macro\"],\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/1685164\",\"class\":\"label\"}}},{\"name\":\"Example\",\"description\":\"Example\",\"enabled\":true,\"types\":[\"case\"],\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/1685162\",\"class\":\"label\"}}},{\"name\":\[...]
[...]
- request:
    method: get
    uri: https://nonesuch.desk.com/api/v2/cases/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="yvrqW68oBI403I5surFL", oauth_nonce="9fe13555d4810aa95e43890cc423b93b",
        oauth_signature="UDTI5tDLtuZtErws7g%2FaHiPtr4g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393821605", oauth_token="KDNVoUTNOUFvbLNfmxX6", oauth_version="1.0"
  response:
    status:
      code: 200
  [...]
- request:
    method: patch
    uri: https://nonesuch.desk.com/api/v2/cases/1
    body:
      encoding: UTF-8
      string: "{\"label_action\":\"replace\",\"labels\":[]}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="yvrqW68oBI403I5surFL", oauth_nonce="dc55d58f2ad1c3ff3ccadded78ce350e",
        oauth_signature="ndy8zZdp4AFjYeJFZHQReVIgw3o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393821606", oauth_token="KDNVoUTNOUFvbLNfmxX6", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - a[...]
[...]
