---
http_interactions:
- request:
    method: post
    uri: https://nonesuch.desk.com/api/v2/labels
    body:
      encoding: UTF-8
      string: "{\"name\":\"Example\",\"description\":\"Example created by silly application\",\"types\":[\"case\",\"macro\",\"article\"],\"enabled\":true}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="yvrqW68oBI403I5surFL", oauth_nonce="103084206c5c22e43418064c40446432",
        oauth_signature="iIHIpqdy5duG4Esoo%2BjF%2Fuv3AAM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393807895", oauth_token="KDNVoUTNOUFvbLNfmxX6", oauth_version="1.0"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Appversion:
      - '15.99'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '59'
      X-Rate-Limit-Reset:
      - '24'
    body:
      encoding: UTF-8
      string: "{\"message\":\"Validation Failed\",\"errors\":{\"name\":[\"taken\"]}}"
  recorded_at: Mon, 03 Mar 2014 00:51:36 GMT
- request:
    method: get
    uri: https://nonesuch.desk.com/api/v2/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="yvrqW68oBI403I5surFL", oauth_nonce="45c623f7a879f217ace9b82b66b44ac9",
        oauth_signature="EkP9qd48t8a4P03L%2B2dYoW58dgc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393807896", oauth_token="KDNVoUTNOUFvbLNfmxX6", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"13938071633980324\""
      Status:
      - 200 OK
      X-Appversion:
      - '15.99'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '58'
      X-Rate-Limit-Reset:
      - '23'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":8,\"_links\":{\"self\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"name\":\"Abandoned
        Chats\",\"description\":\"Abandoned Chats\",\"enabled\":true,\"types\":[\"case\",\"macro\"],\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/1685165\",\"class\":\"label\"}}},{\"name\":\"Escalated\",\"description\":\"Escalated\",\"enabled\":true,\"types\":[\"case\",\"macro\"],\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/1685164\",\"class\":\"label\"}}},{\"name\":\"Example\",\"description\":\"Example\",\"enabled\":true,\"types\":[\"case\"],\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/1685162\",\"class\":\"label\"}}},{\"name\":\[...]
