---
http_interactions:
- request:
    method: post
    uri: https://nonesuch.desk.com/api/v2/labels
    body:
      encoding: UTF-8
      string: "{\"name\":\"Pizza\",\"description\":\"Pizza created by silly application\",\"types\":[\"case\",\"macro\",\"article\"],\"enabled\":true}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="yvrqW68oBI403I5surFL", oauth_nonce="a31078a82848ff2a75205d689626ed2a",
        oauth_signature="2gZQELyXHvZDdGsA0LuybxaNPnM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393807162", oauth_token="KDNVoUTNOUFvbLNfmxX6", oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"45a025a8c18829a5c56e58de2102abaa\""
      Location:
      - https://nonesuch.desk.com/api/v2/labels/1685850
      Status:
      - 201 Created
      X-Appversion:
      - '15.99'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '59'
      X-Rate-Limit-Reset:
      - '38'
    body:
      encoding: UTF-8
      string: "{\"name\":\"Pizza\",\"description\":\"Pizza created by silly application\",\"enabled\":true,\"types\":[\"case\",\"macro\"],\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/1685850\",\"class\":\"label\"}}}"
  recorded_at: Mon, 03 Mar 2014 00:39:22 GMT
- request:
    method: get
    uri: https://nonesuch.desk.com/api/v2/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="yvrqW68oBI403I5surFL", oauth_nonce="ca014a70ec8f176ada20ea1be33dc8ac",
        oauth_signature="qSJn%2F7PJmvHeQ8dh0Ri%2FAku2wT0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393807162", oauth_token="KDNVoUTNOUFvbLNfmxX6", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"13938071633980324\""
      Status:
      - 200 OK
      X-Appversion:
      - '15.99'
      X-Rate-Limit-Limit:
      - '60'
      X-Rate-Limit-Remaining:
      - '58'
      X-Rate-Limit-Reset:
      - '37'
    body:
      encoding: UTF-8
      string: "{\"total_entries\":8,\"_links\":{\"self\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"first\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"last\":{\"href\":\"/api/v2/labels?page=1&per_page=50\",\"class\":\"page\"},\"previous\":null,\"next\":null},\"_embedded\":{\"entries\":[{\"name\":\"Abandoned
        Chats\",\"description\":\"Abandoned Chats\",\"enabled\":true,\"types\":[\"case\",\"macro\"],\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/1685165\",\"class\":\"label\"}}},{\"name\":\"Escalated\",\"description\":\"Escalated\",\"enabled\":true,\"types\":[\"case\",\"macro\"],\"color\":\"default\",\"_links\":{\"self\":{\"href\":\"/api/v2/labels/1685164\",\"class\":\"label\"}}},{\"name\":\"Example\",\"description\":\"Example\",\"enabled\":true,\"[...]
