<%= link_to "Back", root_url %>
<ul id="cases_list">
  <% if @cases.present? %>
    <%= render partial: "case_entry", collection: @cases %>
  <% else %>
    <li>No cases found.</li>
  <% end %>
</ul>
