<table id="cases_list">
  <thead>
    <tr>
      <td>Subject</td><td>Status</td><td>Type</td><td>Priority</td><td>Labels</td><td>Label Actions</td>
    </tr>
  </thead>
  <tbody>
    <% if @cases.present? %>
      <%= render partial: "case_entry", collection: @cases %>
    <% else %>
      <tr>
        <td colspan="6">No cases found.</td>
      </tr>
    <% end %>
  </tbody>
</table>
